hr {
    margin-bottom: 20px;
}


/* Calendar */

.calendar {
    max-width: 100vw;
    overflow-x: auto;
    background: white;
}

.header {
    display: grid;
    grid-template-columns: 50px repeat(7, 1fr);
    top: 0;
    background: white;
    border-bottom: 1px solid #ddd;
    font-size: 30px;
}

.header div {
    padding: 8px 4px;
    text-align: center;
    font-weight: 600;
}

.body {
    display: grid;
    grid-template-columns: 50px repeat(7, 1fr);
    height: 600px;
    overflow-y: scroll;
}

.time-col {
    border-right: 1px solid #eee;
}

.hour {
    height: 60px;
    font-size: 15px;
    text-align: right;
    padding-right: 6px;
    color: #666;
    border-bottom: 1px solid #eee;
}

.day {
    position: relative;
    border-left: 1px solid #eee;
}

.event {
    position: absolute;
    left: 4px;
    right: 4px;
    background: #4f46e5;
    color: white;
    font-size: 20px;
    padding: 4px;
    border-radius: 6px;
}

.event.alt {
    background: #16a34a;
}

/* Workload and statistics*/
#workload-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 40px;
}

.quantity-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.circle-bar {
    position: relative;
    width: 150px;
    height: 150px;
}

.circle-bar svg {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
}

circle {
    fill: none;
    stroke-width: 8;
}

.bg {
    stroke: #eee;
}

.progress {
    stroke-linecap: round;
    stroke-dasharray: 251.2;
}


.circle-bar.difficulty .progress {
    stroke: #27ae60;
    stroke-dashoffset: 75;
}

.circle-bar.workload .progress {
    stroke: #f1c40f;
    stroke-dashoffset: 150;
}

.circle-bar.quality .progress {
    stroke: #e74c3c;
    stroke-dashoffset: 200;
}

.circle-bar p {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}



/* Filters and classes */

:root {
    --pill-padding: 1px 40px;
    --pill-radius: 9999px;
    --pill-border-width: 1px;
    --pill-gap: 10px;
}

#filter-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 40px;
    justify-content: space-around;
}

#filter-container img {
    width: 50px;
    height: 50px;
}

#search-tag-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: var(--pill-gap);
    padding: var(--pill-padding);
    border: var(--pill-border-width) solid #ccc;
    border-radius: var(--pill-radius);
    background-color: #f5f5f5;
}

.tag {
    padding: var(--pill-padding);
    border-radius: var(--pill-radius);
    border: var(--pill-border-width) solid #000;
}

#cis {
    background-color: #9D649F;
}

#difficult {
    background-color: #64659F;
}

.course {
    line-height: 2px;
}

.course-title {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 30px;
}

.course-subtitle {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 30px;
}

.required {
    color: #D30000;
}

.fits {
    color: #087406;
}


/* Navigation */

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px
}

.nav img {
    width: 100px;
    height: 100px;
}

#selected-icon {
    background-color: lightgray;
    padding: 10px;
    border-radius: 20px;
}